In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('openFEMA_claims20190430.csv', parse_dates=['dateofloss'])

/home/david/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,11,15,22,23,31,32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.dtypes

agriculturestructureindicator                         object
asofdate                                              object
basefloodelevation                                   float64
basementenclosurecrawlspacetype                      float64
reportedcity                                          object
condominiumindicator                                  object
policycount                                          float64
countycode                                           float64
crsdiscount                                          float64
dateofloss                                    datetime64[ns]
elevatedbuildingindicator                             object
elevationcertificateindicator                         object
elevationdifference                                  float64
censustract                                          float64
floodzone                                             object
houseworship                                          object
latitude                                             float64
locationofcontents                                    object
longitude                                            float64
lowestadjacentgrade                                  float64
lowestfloorelevation                                 float64
numberoffloorsintheinsuredbuilding                   float64
nonprofitindicator                                    object
obstructiontype                                       object
occupancytype                                        float64
originalconstructiondate                              object
originalnbdate                                        object
amountpaidonbuildingclaim                            float64
amountpaidoncontentsclaim                            float64
amountpaidonincreasedcostofcomplianceclaim           float64
postfirmconstructionindicator                         object
ratemethod                                            object
smallbusinessindicatorbuilding                        object
state                                                 object
totalbuildinginsurancecoverage                       float64
totalcontentsinsurancecoverage                       float64
yearofloss                                             int64
reportedzipcode                                       object
primaryresidence                                      object
dtype: object

In [4]:
df.shape

(2419429, 39)

In [5]:
df['monthofloss'] = df['dateofloss'].dt.month
df['dayofloss'] = df['dateofloss'].dt.day

In [6]:
df = df.drop(['asofdate', 'dateofloss', 'reportedcity', 'originalconstructiondate', 'originalnbdate', 'reportedzipcode'], axis=1)

In [7]:
df.head()

,agriculturestructureindicator,basefloodelevation,basementenclosurecrawlspacetype,condominiumindicator,policycount,countycode,crsdiscount,elevatedbuildingindicator,elevationcertificateindicator,elevationdifference,...,postfirmconstructionindicator,ratemethod,smallbusinessindicatorbuilding,state,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,yearofloss,primaryresidence,monthofloss,dayofloss
0,NaN,NaN,0.0,N,1.0,6073.0,0.00,N,NaN,999.0,...,N,7,NaN,CA,200000.0,50000.0,1998,NaN,2,7
1,NaN,NaN,0.0,N,1.0,22071.0,0.00,N,NaN,999.0,...,N,7,NaN,LA,100000.0,40000.0,2005,Y,8,29
2,NaN,NaN,0.0,N,1.0,12113.0,0.05,N,NaN,999.0,...,N,1,NaN,FL,100000.0,50000.0,1998,NaN,9,28
3,NaN,NaN,1.0,N,1.0,45013.0,0.00,N,NaN,999.0,...,N,7,NaN,SC,100000.0,25000.0,1994,NaN,10,7
4,NaN,NaN,0.0,N,1.0,12009.0,0.00,N,NaN,999.0,...,Y,7,NaN,FL,100000.0,25000.0,1996,NaN,3,11

In [8]:
df.columns

Index(['agriculturestructureindicator', 'basefloodelevation',
       'basementenclosurecrawlspacetype', 'condominiumindicator',
       'policycount', 'countycode', 'crsdiscount', 'elevatedbuildingindicator',
       'elevationcertificateindicator', 'elevationdifference', 'censustract',
       'floodzone', 'houseworship', 'latitude', 'locationofcontents',
       'longitude', 'lowestadjacentgrade', 'lowestfloorelevation',
       'numberoffloorsintheinsuredbuilding', 'nonprofitindicator',
       'obstructiontype', 'occupancytype', 'amountpaidonbuildingclaim',
       'amountpaidoncontentsclaim',
       'amountpaidonincreasedcostofcomplianceclaim',
       'postfirmconstructionindicator', 'ratemethod',
       'smallbusinessindicatorbuilding', 'state',
       'totalbuildinginsurancecoverage', 'totalcontentsinsurancecoverage',
       'yearofloss', 'primaryresidence', 'monthofloss', 'dayofloss'],
      dtype='object')

In [9]:
df.isnull().sum()

agriculturestructureindicator                 2264380
basefloodelevation                            1938605
basementenclosurecrawlspacetype                    45
condominiumindicator                            58112
policycount                                         8
countycode                                       6801
crsdiscount                                         8
elevatedbuildingindicator                       55352
elevationcertificateindicator                 1814320
elevationdifference                                 8
censustract                                     59559
floodzone                                      162697
houseworship                                  2189025
latitude                                        53800
locationofcontents                             895000
longitude                                       53800
lowestadjacentgrade                           2071395
lowestfloorelevation                          1947160
numberoffloorsintheinsuredbuilding              16507
nonprofitindicator                            2185582
obstructiontype                                888264
occupancytype                                     720
amountpaidonbuildingclaim                       73147
amountpaidoncontentsclaim                      716150
amountpaidonincreasedcostofcomplianceclaim    1269529
postfirmconstructionindicator                   71984
ratemethod                                      65289
smallbusinessindicatorbuilding                2168378
state                                              12
totalbuildinginsurancecoverage                      8
totalcontentsinsurancecoverage                      8
yearofloss                                          0
primaryresidence                              1011534
monthofloss                                         0
dayofloss                                           0
dtype: int64

In [10]:
cat_columns = ['agriculturestructureindicator', 'basementenclosurecrawlspacetype', 'condominiumindicator', 'elevatedbuildingindicator', 'elevationcertificateindicator', 'floodzone', 'houseworship', 'locationofcontents', 'nonprofitindicator', 'obstructiontype', 'occupancytype', 'postfirmconstructionindicator', 'ratemethod', 'smallbusinessindicatorbuilding', 'state', 'primaryresidence']

In [11]:
df[cat_columns]

,agriculturestructureindicator,basementenclosurecrawlspacetype,condominiumindicator,elevatedbuildingindicator,elevationcertificateindicator,floodzone,houseworship,locationofcontents,nonprofitindicator,obstructiontype,occupancytype,postfirmconstructionindicator,ratemethod,smallbusinessindicatorbuilding,state,primaryresidence
0,NaN,0.0,N,N,NaN,X,NaN,NaN,NaN,10,1.0,N,7,NaN,CA,NaN
1,NaN,0.0,N,N,NaN,X,NaN,NaN,NaN,10,1.0,N,7,NaN,LA,Y
2,NaN,0.0,N,N,NaN,X,NaN,NaN,NaN,10,1.0,N,1,NaN,FL,NaN
3,NaN,1.0,N,N,NaN,X,NaN,NaN,NaN,10,1.0,N,7,NaN,SC,NaN
4,NaN,0.0,N,N,NaN,X,NaN,NaN,NaN,10,1.0,Y,7,NaN,FL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2419424,NaN,0.0,N,N,NaN,AHB,NaN,Lowest floor only above ground level (No basem...,NaN,NaN,1.0,Y,1,NaN,FL,Y
2419425,NaN,0.0,N,N,NaN,AHB,NaN,Lowest floor only above ground level (No basem...,NaN,NaN,1.0,Y,1,NaN,FL,Y
2419426,NaN,0.0,N,N,NaN,AE,NaN,Lowest floor only above ground level (No basem...,NaN,NaN,1.0,N,1,NaN,FL,Y
2419427,NaN,0.0,N,N,NaN,AE,NaN,Lowest floor only above ground level (No basem...,NaN,NaN,1.0,N,1,NaN,FL,Y
2419428,NaN,0.0,N,N,NaN,AHB,NaN,Lowest floor only above ground level (No basem...,NaN,NaN,1.0,N,1,NaN,FL,Y

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

one_hot_transformer = ColumnTransformer(
    [('cat', OneHotEncoder(sparse=False), cat_columns)], remainder = 'passthrough'
)

In [13]:
df_na= df.fillna(0)

In [14]:
X = df_na.drop(['amountpaidonbuildingclaim', 'amountpaidoncontentsclaim', 'amountpaidonincreasedcostofcomplianceclaim'], axis=1)

In [15]:
X.columns

Index(['agriculturestructureindicator', 'basefloodelevation',
       'basementenclosurecrawlspacetype', 'condominiumindicator',
       'policycount', 'countycode', 'crsdiscount', 'elevatedbuildingindicator',
       'elevationcertificateindicator', 'elevationdifference', 'censustract',
       'floodzone', 'houseworship', 'latitude', 'locationofcontents',
       'longitude', 'lowestadjacentgrade', 'lowestfloorelevation',
       'numberoffloorsintheinsuredbuilding', 'nonprofitindicator',
       'obstructiontype', 'occupancytype', 'postfirmconstructionindicator',
       'ratemethod', 'smallbusinessindicatorbuilding', 'state',
       'totalbuildinginsurancecoverage', 'totalcontentsinsurancecoverage',
       'yearofloss', 'primaryresidence', 'monthofloss', 'dayofloss'],
      dtype='object')

In [16]:
y = df_na['amountpaidonbuildingclaim']

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [18]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1935543, 32) (483886, 32) (1935543,) (483886,)

In [20]:
one_hot_transformer.fit_transform(X_train[:10000].astype('str'))

array([[1.0, 0.0, 0.0, ..., '1994', '12', '24'],
       [1.0, 0.0, 1.0, ..., '2012', '10', '29'],
       [1.0, 0.0, 1.0, ..., '1995', '10', '4'],
       ...,
       [1.0, 0.0, 1.0, ..., '1998', '2', '6'],
       [1.0, 0.0, 1.0, ..., '2005', '8', '29'],
       [1.0, 0.0, 1.0, ..., '2012', '10', '29']], dtype=object)

In [21]:
#one_hot_transformer.named_transformers_['cat'].categories_

In [22]:
X_train_trans = one_hot_transformer.transform(X_train[:10000].astype('str'))

In [25]:
X_train_trans.shape

(10000, 231)

In [26]:
y_train_trans = y_train[:10000]

In [27]:
y_train_trans

1351137     2619.34
2249542    23275.59
1362426        0.00
2393807     2048.37
1951414    41140.86
             ...
46338          0.00
439617      1820.35
86061       3909.93
889380     50000.00
1006506    42014.42
Name: amountpaidonbuildingclaim, Length: 10000, dtype: float64

In [69]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(n_estimators = 100,max_depth=10)
lr = LinearRegression()
rfr.fit(X_train_trans, y_train_trans)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [73]:
rfr.score(one_hot_transformer.transform(X_train[9000:10000].astype('str')), y_train[9000:10000])

0.6812004631109951

In [ ]:
df_na.columns